<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Home</title>
</head>
<body>

<%- include('partials/header') %>

<div class="container">
  <h1>Bem-vindo!</h1>
  <p>Esse é um sistema em MVC com Node.js</p>
</div>

</body>
</html>