<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Sobre</title>
</head>
<body>

<%- include('partials/header') %>

<div class="container">
  <h1>Sobre</h1>
  <p>Projeto desenvolvido utilizando arquitetura MVC.</p>
</div>

</body>
</html>